@import "./_variables.scss";

.header-mobile,
.header-desktop {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.header-container,
.header-container-dark {
  width: 100%;
  display: flex;
  margin: 0;
  padding: 2rem 0;
  color: inherit;

  h1 {
    padding-left: 8rem;
  }

  a, a:link, a:visited, button {
    color: inherit;
  }
}

.shop-menu {
  position: absolute;
  display: flex;
  flex-direction: column;
  color: inherit;
  z-index: 10;
}

.cart,
.cart-background,
.cart-container {
  z-index: 10;
}

.cart-background {
  background-color: black;
  opacity: 0.5;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  cursor: pointer
}

.cart {
  width: 25rem;
  padding: 2rem;
  display: block;
  height: 100%;
  box-sizing:border-box;
  background-color: white;
  right: 0;
  position: absolute;
  top: 0;
  display: flex;
  flex-direction: column;

  .divider {
    margin-bottom: 2rem;
  }

  .cart-header {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;

    button {
      display: flex;
      align-items: center;
      justify-content: center;
      width: fit-content;
      padding: 0.25rem;
      background-color: transparent;
      color: black;
    }
  }

  button {
    width: 100%;
  }

  h3 {
    font-weight: 1000;
  }

  h4 {
    margin-bottom: 1rem;
  }
}

.cart-items {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  flex-grow: 1;
  overflow-y: auto;
  margin-bottom: 2rem;
  padding: 0 0.5rem;
}

.cart-item-outer {
  display: flex;
  gap: 2rem;

  img {
    width: 5.5rem;
    border: 2px solid black;
  }

  .remove {
    width: fit-content;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ccc;
    background-color: transparent; 
    cursor: pointer;

    &:hover {
      color: black
    }
  }
}

.cart-item-info {
  width: 100%;

  h4 {
    margin: 0;
    font-weight: 800;
    font-size: 0.83rem;
  }

  h5 {
    margin-bottom: 0.5rem;
  }
}

.quantity {
  display: flex;
  align-items: center;

  p {
    font-size: 0.83rem;
    font-weight: 600;
  }

  :nth-child(1) {
    font-style: italic;
  }

  button {
    background-color: transparent;
    color: black;
    width: fit-content;

    &:hover {
      background-color: transparent
    }
  }
}

.empty {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  gap: 0.5rem;

  h4 {
    font-weight: 800;
  }

  button {
    width: fit-content;
  }
}

@media screen and (max-width: 1000px) {
  .header-desktop {
    display: none;
  }

  .header-container {
    padding: 1rem 0;

    h1 {
      padding-left: 1.75rem;
    }
  }

  .navigation {
    padding-right: 1rem;
    justify-content: flex-end;
    gap: 1rem;
    width: 100%;
  }

  .cart {
    top: 0;
    left: 0;
    width: 100%;
  }
}

@media screen and (min-width: 1000px) {
  .header-mobile {
    display: none;
  }
}