@import "./_variables.scss";

.header-sticky {
  top: 0;
}

.product-card {
  width: 12.5rem;
  height: 16.5rem;
  position: relative;
  background-color: $text-light;
  border: 2px solid transparent;
  padding: 1rem;
  cursor: pointer;

  &:hover {
      transform: scale(1.1);
      border-color: black;
  }

  p {
    font-weight: 600;
  }

  h4 {
    font-weight: 800;
  }
}

.content {
  padding: 0 8rem;
}

.content-inner,
.products {
  padding: 1rem;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.category {
  display: flex;
  margin-bottom: 0.5rem;

  h4 {
    flex-grow: 1;
    text-transform: lowercase;
    font-style: italic;
  }

  input {
    appearance: none;
    position: relative;
    border: 2px solid black;
    width: 1rem;
    height: 1rem;
    cursor: pointer;

    &:checked:after {
      content: "";
      position: absolute;
      width: 50%;
      height: 50%;
      background-color: black;
      opacity: 1;
      bottom: 50%;
      left: 50%;
      transform: translate(-50%, 50%);
    }
  }
}

.categories-container {
  display: flex;
  flex-direction: column;
  gap: 0.1rem;
  width: 7.5rem;
  margin-right: 4rem;
}

.products-header,
.categories-header {
  h4 {
    margin: 0;
    margin-bottom: 1rem;
  }
}

.products {
  display: flex;
}

img {
  width: 100%;
}